<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Upload Arrowjs.io</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/fileinput.js" type="text/javascript"></script>
    <script src="/js/fileinput_locale_fr.js" type="text/javascript"></script>
    <script src="/js/fileinput_locale_es.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>

<div class="container kv-main">
    <div class="jumbotron">
        <h1>Arrowjs + BleueImp + Formidable</h1>
    </div>
    <form action="/" method="post" enctype="multipart/form-data">
        <input id="fileToUpload" name="fileToUpload" class="file" type="file" multiple data-min-file-count="1">
    </form>
    <br>
    <form>
        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h4>List File Upload</h4></div>
                <table class="table">
                    <thead>
                    <tr class="success">
                        <th>  <strong>Row </strong> </th>
                        <th>  <strong> Name File </strong></th>
                        <th>  <strong>Create Date</strong> </th>
                        <th>  <strong>Size File</strong> </th>
                        <th>  <strong>Kilobytes</strong> </th>
                        <th>  <strong>Dowload</strong>  </th>
                        <th>  <strong>Delete</strong>  </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr class="active">
                            <td><p><strong>{{ loop.index }}</strong></p></td>
                            <td><font color="green"><strong>{{ item.name }}</strong></td>
                            <td><p>{{ item.birthtime }}</p></td>
                            <td><p>{{ item.size }}</p></td>
                            <td><p>Kb</p>             </td>
                            <td><a href="/download/{{ item.name }} " download="/download/{{ item.name }}"><p>Download</p></a></td>
                            <td><a href="/delete/{{ item.name }}"><p>Delete</p></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </form>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Demo Notes</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Examples can upload and process several files (<strong>JPG, GIF, PNG</strong>) and some <strong>document files, video </strong>.</li>
                <li>Example with document <strong>preview</strong> mode when upload</li>
                <li>You can <strong>download</strong> a file in list of files uploaded</li>
                <li>You can <strong>delete</strong> a file in list of files uploaded</li>
            </ul>
        </div>
    </div>
    </div>
</div>
</body>
{#<script>#}
    {#$("#fileToUpload").fileinput({#}
        {#uploadUrl: "/",#}
        {#allowedFileExtensions: ["jpg", "png", "gif"],#}
        {#maxImageHeight: 150,#}
        {#maxFileCount: 1,#}
        {#resizeImage: true#}
    {#}).on('filepreupload', function () {#}
        {#$('#kv-success-box').html('');#}
    {#}).on('fileuploaded', function (event, data) {#}
        {#$('#kv-success-box').append(data.response.link);#}
        {#$('#kv-success-modal').modal('show');#}
    {#});#}
{#</script>#}
<script>
    $('#file-fr').fileinput({
        language: 'fr',
        uploadUrl: '#',
        allowedFileExtensions: ['jpg', 'png', 'gif'],
    });
    $('#file-es').fileinput({
        language: 'es',
        uploadUrl: '#',
        allowedFileExtensions: ['jpg', 'png', 'gif'],
    });
    $("#file-0").fileinput({
        'allowedFileExtensions': ['jpg', 'png', 'gif'],
    });
    $("#file-1").fileinput({
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        overwriteInitial: false,
        maxFileSize: 1000,
        maxFilesNum: 10,
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
    /*
     $(".file").on('fileselect', function(event, n, l) {
     alert('File Selected. Name: ' + l + ', Num: ' + n);
     });
     */
    $("#file-3").fileinput({
        showUpload: false,
        showCaption: false,
        browseClass: "btn btn-primary btn-lg",
        fileType: "any",
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
    });
    $("#file-4").fileinput({
        uploadExtraData: {kvId: '10'}
    });
    $(".btn-warning").on('click', function () {
        if ($('#file-4').attr('disabled')) {
            $('#file-4').fileinput('enable');
        } else {
            $('#file-4').fileinput('disable');
        }
    });
    $(".btn-info").on('click', function () {
        $('#file-4').fileinput('refresh', {previewClass: 'bg-info'});
    });
    /*
     $('#file-4').on('fileselectnone', function() {
     alert('Huh! You selected no files.');
     });
     $('#file-4').on('filebrowse', function() {
     alert('File browse clicked for #file-4');
     });
     */
    $(document).ready(function () {
        $("#test-upload").fileinput({
            'showPreview': false,
            'allowedFileExtensions': ['jpg', 'png', 'gif'],
            'elErrorContainer': '#errorBlock'
        });
        /*
         $("#test-upload").on('fileloaded', function(event, file, previewId, index) {
         alert('i = ' + index + ', id = ' + previewId + ', file = ' + file.name);
         });
         */
    });
</script>
</html>